.App {
  text-align: center;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #454545;
}

.navBar {
  position: fixed;
  height: 100%;
  width: 100px;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  padding-top: 75px;
}

.myForm {
  display: inline-block;
  /* background-color: rgba(255, 0, 0, 0.05); */
  border: 5px solid rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  margin: 10px;
  padding: 20px;
  text-align: center;
  width: 80%;
}

.formButton {
  background-color: rgba(255, 0, 0, 0.1);
  color: white;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
}

.text-primary {
  vertical-align: middle;
  margin: 5px;
  width: 65%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.myMessage {
  background-image: linear-gradient(45deg, white, blue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  width: 80%;
  margin: auto;
  padding: 20px;
  font-size: 25px;
}

.mylinks {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
.mylinks:visited {
  text-decoration: none;
  color: #555555;
}
.mylinks:hover {
  color: lavender;
}

.card {
  display: inline-block;
  /* background-color: rgba(255, 0, 0, 0.05); */
  border: 5px solid rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  margin: 10px;
  padding: 20px;
  text-align: start;
  width: 80%;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: square;
  font-size: 15px;
}

p {
  font-size: 15px;
  margin: auto;
  width: 90%;
  text-align: start;
  padding: 10px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 5%;
  margin: auto;
}

.projectImg {
  width: 400px;
  height: 400px;
  margin: 20px;
}
