.App {
  text-align: center;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #454545;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  background-color: lavender;
  padding: 10px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.navLink:visited {
  text-decoration: none;
  color: #454545;
}
.navLink:hover {
  color: salmon;
}
