.App {
  text-align: center;
}

.App-header {
  background-color: #252525;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #454545;
}

.genInfoTable {
  display: inline-block;
  font-size: 20px;
  margin: 10px;
  text-align: start;
}

.navBar {
  position: fixed;
  height: 100%;
  width: 100px;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.1);
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  padding-top: 75px;
}

.mylinks {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.mylinks:visited {
  text-decoration: none;
  color: #555555;
}
.mylinks:hover {
  color: lavender;
}

.card {
  display: inline-block;
  /* background-color: rgba(255, 0, 0, 0.05); */
  border: 5px solid rgba(255, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  margin: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: start;
  width: 75%;
}

li {
  list-style-type: square;
  font-size: 15px;
}

td {
  padding: 10px;
}
